# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
ENV/

# Spark
metastore_db/
spark-warehouse/
derby.log

# Generated raw dataset
data/*.csv

# Keep generated dashboard outputs in Git
# DO NOT ignore output/*.csv or output/*.json
!output/
!output/*.csv
!output/*.json

# Keep the folders themselves under git
!data/.gitkeep

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Streamlit
.streamlit/secrets.toml